.NewTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em 0;

  &__saveButton {
    width: 100px;
  }

  >* {
    margin-top: 1em;
  }

  h4 {
    margin: 0;
  }
}