.Product {
  border-top: 1px solid #61dafb;
  padding: 0.25em;

  display: grid;
  grid-template-columns: 40px 40px 1fr 40px;
  align-items: center;

  &--isOK {
    font-weight: bold;
    background-color: $successColor;
  }
}