$successColor: #b3ffb5;
$dangerColor: #ffaba3;

@import "pages/ShoppingList";
@import "molecules/NewProductForm";
@import "molecules/Product";
@import "molecules/Task";
@import "molecules/NewTaskForm";
@import "atoms/InputGroup";
@import "atoms/ShoppingListHeader";

.App {
  text-align: center;
}
