@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$successColor: #b3ffb5;
$dangerColor: #ffaba3;
$primaryColor: #6ccdfb;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

@import "molecules/NewProductForm";
@import "molecules/Product";
@import "molecules/Task";
@import "molecules/Event";
@import "molecules/NewTaskForm";
@import "molecules/NavBar";
@import "atoms/InputGroup";
@import "atoms/ShoppingListHeader";

