$successColor: #b3ffb5;
$dangerColor: #ffaba3;
$primaryColor: #6ccdfb;

@import "pages/ShoppingList";
@import "molecules/NewProductForm";
@import "molecules/Product";
@import "molecules/Task";
@import "molecules/Event";
@import "molecules/NewTaskForm";
@import "molecules/NavBar";
@import "atoms/InputGroup";
@import "atoms/ShoppingListHeader";

